body{
    color:ghostwhite;
    background-color: black;
}


.bigcontainer{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:700px;
    float:left;
    max-width:50%;
}

.header{
    display:flex;
    border:dotted gold 10px;
    flex-wrap:wrap;
    
}

.images{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    flex-basis: 70%;
    
}

